
* {
  @include box-sizing(border-box);
}

html, body {
  width: 100%;
  height: 100%;
  background:#ffffff;
  margin:0;
  padding:0;
}

body {
  color: #aaccff;
  overflow: hidden;
  overflow-y:hidden;
  text-align: center;

  &.fallback-bg {
    background-image:url('../assets/images/snow-fallback.jpg');
    background-repeat:repeat;
  }

}

.font-fooler {
  font-family:  'Sniglet', cursive;
  opacity:0;
}

#stage {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;

  &.cursor-openhand {
    cursor: url('../assets/images/openhand.cur'),auto;
  }

  &.cursor-closedhand {
    cursor: url('../assets/images/closedhand.cur'),auto;
  }

  &.cursor-pointer {
    cursor: pointer;
  }
}

#uiContainer {
  z-index:4;
}

#instructions {
  position:absolute;
  z-index:5;
  display: block;
  left:20px;
  bottom:155px;

  @include transform( translateY(200px));

}

.instruction {
  left:120px;
  position:absolute;
  font-family: 'Delius Swash Caps', cursive;
  display: block;

  .bubble-arrow-mask {
    position: absolute;
    left: -20px;
    width: 10px;
    height: 40px;
    top: 31px;
    padding: 10px;
    overflow: hidden;

    .bubble-arrow {
      width:20px;
      height:20px;
      background: #ffffff;
      @include rotate(45deg);
      box-shadow: 0px 0px 10px rgba( 0, 0, 0, 0.4 );
    }
  }

  .bubble-content {
    position:relative;
    white-space: nowrap;
    display: inline-block;
    height: 80px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding:10px 20px 10px 20px;

    background: #ffffff;
    text-align: center;
    font-size: 23px;
    line-height: 60px;
    box-shadow: 0px 0px 10px rgba( 0, 0, 0, 0.4 );
  }
}

.snowman-icon {
  position:absolute;
  display:block;
  width: 128px;
  height: 128px;
  background-image: url('../assets/images/icon-snowman.png');
}

#builderCanvas {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}

.trail-canvas {
  position:absolute;
  top:0;
  left:0;
  width:1024px;
  height:1024px;
  z-index: 100;
  display:none;
  @include transform-origin(0,0);
  @include transform( scale(0.5));
}

.build-snowman-btn {
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  background: #aaccff;
  padding: 0px 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  line-height: 42px;
  top: -2px;
  margin: 0 8px;

  @include animation( pulse 1s both 7 );

  text-decoration:none;

  &:hover {
    @include animation( none 1s both 1 );
    color: #aaccff;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba( 0, 0, 0, 0.4 );
  }

  &:active {
    @include animation( none 1s both 1 );
    color: #aaccff;
    background: #eeeeee;
    box-shadow: 0px 0px 0px rgba( 0, 0, 0, 0.4 );
  }
}

@include keyframes(pulse) {
  0% {
    color: #aaccff;
    background: #486bab;
  }

  50% {
    color: #ffffff;
    background: #aaccff;
  }

  100% {
    color: #aaccff;
    background: #486bab;
  }
}

.inactive {
  display:none !important;
}

.table {
  display: table;
  position:absolute;
  width:100%;
  height:100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

#error {
  margin:0 auto;
}
