
* {
  @include box-sizing(border-box);
}

html, body {
  width: 100%;
  height: 100%;
  background:#ffffff;
}

body {

  color: #aaccff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  height:100%;

}

#stage {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}

#uiContainer {
  z-index:4;
}

#builderCanvas {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}

.trail-canvas {
  position:absolute;
  top:0;
  left:0;
  width:1024px;
  height:1024px;
  z-index: 100;
  display:none;
}

